<h2>Edit Virtual relationship</h2>

<%= render "form.html", Map.put(assigns, :action, virtual_relationship_path(@conn, :update, @virtual_relationship)) %>

<span><%= link "Back", to: virtual_relationship_path(@conn, :index) %></span>
