<h2>New Virtual relationship</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.virtual_relationship_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.virtual_relationship_path(@conn, :index) %></span>
