<h1>Boxes</h1>
<ul>
  <li><%= link "Physical Boxes", to: Routes.physical_box_path(@conn, :index), method: :get %></li>
  <li><%= link "Physical Boxes Relationships", to: Routes.physical_relationship_path(@conn, :index), method: :get %></li>
  <li><%= link "Virtual Boxes", to: Routes.virtual_box_path(@conn, :index), method: :get %></li>
  <li><%= link "Virtual Boxes Relationships", to: Routes.virtual_relationship_path(@conn, :index), method: :get %></li>
</ul>
